[submodule "Contents/dvwm"]
	path = Contents/dvwm
	url = https://github.com/HomeroKemmerich/dvwm.git
[submodule "Contents/cncl"]
	path = Contents/cncl
	url = https://github.com/HomeroKemmerich/cncl.git
[submodule "Contents/cdae"]
	path = Contents/cdae
	url = https://github.com/HomeroKemmerich/cdae.git
