[submodule "Contents/dvwm"]
	path = Contents/dvwm
	url = https://github.com/HomeroKemmerich/dvwm.git
[submodule "Contents/cncl"]
	path = Contents/cncl
	url = https://github.com/HomeroKemmerich/cncl.git
[submodule "Contents/cdae"]
	path = Contents/cdae
	url = https://github.com/HomeroKemmerich/cdae.git
[submodule "Contents/micr"]
	path = Contents/micr
	url = https://github.com/HomeroKemmerich/micr.git
[submodule "Contents/algo"]
	path = Contents/algo
	url = https://github.com/HomeroKemmerich/algo.git
[submodule "Contents/auto"]
	path = Contents/auto
	url = https://github.com/HomeroKemmerich/auto.git
[submodule "Contents/bcdd"]
	path = Contents/bcdd
	url = https://github.com/HomeroKemmerich/bcdd.git
[submodule "Contents/ctrl"]
	path = Contents/ctrl
	url = https://github.com/HomeroKemmerich/ctrl.git
